{% extends "padre.html" %}
{% block ContenidoQueCambia %}
<div class="container mt-5">
    <div class="row">
        <h3>¡Saque su ticket!</h3>
        
        {% if request.POST %}
        <div class="alert alert-danger" role="alert">
            {{mensaje_error}}
          </div>
        {% endif %}
            
        <form action="" method = "POST" enctype="multipart/form-data"> {% csrf_token %}
            <section class="page-section" id="services">
                <div class="container px-4 px-lg-5">
                    <hr class="divider" />
                    <h5>Seleccione su destino</h5>
                    <div class="row gx-4 gx-lg-5">
                      
                        {% for destino in destinos %}

                            
                            {% if destino.lugar == "Tierra" %}

                            {% else %}
                                <div class="col-lg-3 col-md-6 text-center">
                                    <div class="card" style="width: 18rem;">
                                    <img src= "{{destino.imagen.url}}" class="text-center" width="286" height="200" alt="...">
                                        <div class="card-body">
                                        <h5 class="card-title">{{destino.lugar}}</h5>
                                        <p class="card-text">
                                            Ubicacion: {{destino.ubicacion}} <br>
                                            Distancia: {{destino.kilometros}} km <br>
                                            Gravedad: {{destino.gravedad}} <br>
                                        </p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                                
                        {% endfor %}

                    </div>
                    <p></p>
                    Seleccione destino aqui: {{crear_ticket_formulario.destino}}
                    
                </div>
            </section>
            <section class="page-section" id="services">
                <div class="container px-4 px-lg-5">
                    <hr class="divider" />
                    <h5>Seleccione su vehiculo</h5>
                    <div class="row gx-4 gx-lg-5">
                      
                        {% for vehiculo in vehiculos %}
                            <div class="col-lg-3 col-md-6 text-center">
                                <div class="card" style="width: 18rem;">
                                 <img src= "{{vehiculo.imagen.url}}" class="text-center" width="286" height="200" alt="...">
                                    <div class="card-body">
                                    <h5 class="card-title">{{vehiculo.nombre_vehiculo}}</h5>
                                    <p class="card-text">
                                        Cantidad pasajeros: {{vehiculo.cantidad_pasajeros}} <br>
                                        Velocidad: {{vehiculo.velocidad}} km/h <br>
                                        Precio por kilometro: ${{vehiculo.precio_x_km}} <br>
                                    </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                    <p></p>
                    Seleccione vehiculo aqui: {{crear_ticket_formulario.vehiculo}}
                    
                </div>
            </section>

            <section class="page-section" id="services">
                <div class="container px-4 px-lg-5">
                    <hr class="divider" />
                    <h5>Seleccione fecha</h5>
                    Seleccione fecha aqui: {{crear_ticket_formulario.fecha}}
                    <hr class="divider" />
                </div>
            </section>

            
            
            <button type="submit" class="btn btn-primary">Crear ticket</button>
        
        </form>
        <p>
        <h5>Si desea obtener un ticket a la tierra <a href="{% url 'Crear_ticket_tierra' %}">presione aqui</a></h5>
        <a type = "btn" href = "{% url 'Inicio' %}" class="btn btn-secondary">Volver al inicio</a>
    </div>
</div>

{% endblock ContenidoQueCambia %}