{% extends "padre.html" %}
{% block ContenidoQueCambia %}
<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
          
            {% for destino in object_list %}
            <div class="col-lg-3 col-md-6 text-center">
                <div class="card" style="width: 18rem;">
                 <img src= "{{destino.imagen.url}}" class="text-center" width="286" height="200" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">{{destino.lugar}}</h5>
                    <p class="card-text">
                        Destino: {{destino.lugar}} <br>
                        Ubicacion: {{destino.ubicacion}}<br>
                        Distancia: {{destino.kilometros}} km<br>
                        Gravedad: {{destino.gravedad}} km<br>
                    </p>
                    
                    {% if request.user.is_superuser %}
                    <a type = "btn" class="btn btn-primary" href = "{% url 'Editar_destino' destino.id %}" >Editar</a>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal{{destino.id}}">
                      Eliminar
                    </button>
                    <div class="modal fade" id="exampleModal{{destino.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Eliminar {{destino.lugar}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                              ¿Esta seguro que desea eliminar este destino?
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <form action="{% url 'Eliminar_destino' destino.id %}" method="POST">
                              {% csrf_token %}
                              <button class="btn btn-primary">Delete</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endif %}
                      
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{destino.id}}">
                        Ver destino
                    </button>
                      <div class="modal fade" id="staticBackdrop{{destino.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="staticBackdropLabel">{{destino.lugar}}</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <p>
                                {{destino.resumen}}
                              </p>
                            </div>
                            <div class="modal-footer">
                              <a type="button" class="btn btn-secondary" href="{% url 'Mostrar_destino' destino.pk %}">Detalles</a>
                              <a type="button" class="btn btn-secondary" href="{% url 'Crear_ticket' %}">¡Saca tu ticket!</a>
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                 </div>
                </div>
            </div>
        {% endfor %}    
        </div>
        <a type = "btn" href = "{% url 'Inicio' %}" class="btn btn-secondary">Volver al inicio</a>
    </div>
</section>
<hr class="divider" />

{% endblock ContenidoQueCambia %}