{% extends "padre.html" %}
{% load mathfilters %}
{% block ContenidoQueCambia %}
<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
          
            {% for vuelo in object_list %}
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne{{vuelo.id}}" aria-expanded="false" aria-controls="flush-collapseOne">
                        {{vuelo.destino}} - Fecha: {{vuelo.fecha}}
                    </button>
                  </h2>
                  <div id="flush-collapseOne{{vuelo.id}}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">                       
                        Destino: {{vuelo.destino}} <br>
                        Vehiculo: {{vuelo.vehiculo}} <br>
                        Fecha: {{vuelo.fecha}} <br>
                        Asientos disponibles: {{vuelo.asientos_disponibles}} <br>
                        {% if vuelo.tiempo_viaje < 60 %}
                          Tiempo viaje: {{vuelo.tiempo_viaje}} S
                        {% elif vuelo.tiempo_viaje > 60 and vuelo.tiempo_viaje < 3600%}
                          Tiempo viaje: {{vuelo.tiempo_viaje|intdiv:60}} M, {{vuelo.tiempo_viaje|mod:60}} S
                        {% else %}
                          Tiempo viaje: {{vuelo.tiempo_viaje|intdiv:3600}} H, {{vuelo.tiempo_viaje|mod:3600|intdiv:60}}  M, {{vuelo.tiempo_viaje|mod:3600|mod:60}} S
                        {% endif %}
                    </div>
                        
                  </div>
                </div>
              </div>
            {% endfor %} 
            <a type = "btn" href = "{% url 'Inicio' %}" class="btn btn-secondary">Volver al inicio</a>   
        </div>
    </div>
</section>
<hr class="divider" />

{% endblock ContenidoQueCambia %}