{% extends "padre.html" %}
{% block ContenidoQueCambia %}
<section class="page-section" id="services">
    <hr class="divider" />

    <h4>Viajes pasados:</h4>
    {% for ticket in tickets_astrotusrita %}
    
    {% if ticket.fecha < fecha_hoy %}
      
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne{{ticket.id}}" aria-expanded="false" aria-controls="flush-collapseOne">
                {{ticket.destino}} - Fecha: {{ticket.fecha}}
            </button>
          </h2>
          <div id="flush-collapseOne{{ticket.id}}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">  
                Usuario: {{ticket.usuario}} <br>                      
                Destino: {{ticket.destino}} <br>
                Vehiculo: {{ticket.vehiculo}} <br>
                Precio: ${{ticket.precio}} <br>
                Timepo viaje: {{ticket.tiempo}} <br>
                Fecha: {{ticket.fecha}} <br></div>
          </div>
        </div>
      </div>
      
    {% endif %}
      



    {% endfor %}

    <hr class="divider" />

    <h4>Viajes Furutos:</h4>
    {% for ticket in tickets_astrotusrita %}
    
    {% if ticket.fecha > fecha_hoy %}
      
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne{{ticket.id}}" aria-expanded="false" aria-controls="flush-collapseOne">
                {{ticket.destino}} - Fecha: {{ticket.fecha}}
            </button>
          </h2>
          <div id="flush-collapseOne{{ticket.id}}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">  
                Usuario: {{ticket.usuario}} <br>                      
                Destino: {{ticket.destino}} <br>
                Vehiculo: {{ticket.vehiculo}} <br>
                Precio: ${{ticket.precio}} <br>
                Timepo viaje: {{ticket.tiempo}} <br>
                Fecha: {{ticket.fecha}} <br></div>
          </div>
        </div>
      </div>
      
    {% endif %}
      



    {% endfor %}
</section>


{% endblock ContenidoQueCambia %}