{% extends "padre.html" %}
{% block ContenidoQueCambia %}
<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
          
            {% for vehiculo in object_list %}
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="card" style="width: 18rem;">
                     <img src= "{{vehiculo.imagen.url}}" class="text-center" width="286" height="200" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">{{vehiculo.nombre_vehiculo}}</h5>
                        <p class="card-text">
                            Cantidad pasajeros: {{vehiculo.cantidad_pasajeros}} <br>
                            Velocidad: {{vehiculo.velocidad}} km/h <br>
                            Precio por kilometro: ${{vehiculo.precio_x_km}} <br>
                        </p>
                        
                        {% if request.user.is_superuser %}
                        <a type = "btn" class="btn btn-primary" href = "{% url 'Editar_vehiculo' vehiculo.id %}" >Editar</a>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal{{vehiculo.id}}">
                          Eliminar
                        </button>
                        <div class="modal fade" id="exampleModal{{vehiculo.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Eliminar {{vehiculo.nombre_vehiculo}}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                  ¿Esta seguro que desea eliminar este vehiculo?
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <form action="{% url 'Eliminar_vehiculo' vehiculo.id %}" method="POST">
                                  {% csrf_token %}
                                  <button class="btn btn-primary">Delete</button>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                        {% endif %}
                          


                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{vehiculo.id}}">
                            Ver vehiculo
                        </button>
                          <div class="modal fade" id="staticBackdrop{{vehiculo.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="staticBackdropLabel">{{vehiculo.nombre_vehiculo}}</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  <p>
                                    {{vehiculo.descripcion}}
                                  </p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                  <button type="button" class="btn btn-primary" >Modificar</button>
                                  
                                </div>
                              </div>
                            </div>
                          </div>
                     </div>
                    </div>
                </div>
            {% endfor %}    
        </div>
    </div>
</section>
<hr class="divider" />

{% endblock ContenidoQueCambia %}