{% extends "padre.html" %}
{% load mathfilters %}
{% block ContenidoQueCambia %}

Usuario: {{ticket.usuario}} <br>                      
Destino: {{ticket.destino}} <br>
Vehiculo: {{ticket.vehiculo}} <br>
Precio: ${{ticket.precio}} <br>
Fecha: {{ticket.fecha}} <br></div>
{% if ticket.tiempo < 60 %}
    Tiempo viaje: {{ticket.tiempo}} S
{% elif ticket.tiempo > 60 and ticket.tiempo < 3600%}
    Tiempo viaje: {{ticket.tiempo|intdiv:60}} M, {{ticket.tiempo|mod:60}} S
{% else %}
    Tiempo viaje: {{ticket.tiempo|intdiv:3600}} H, {{ticket.tiempo|mod:3600|intdiv:60}}  M, {{ticket.tiempo|mod:3600|mod:60}} S
{% endif %}
<br>
Tu peso en tu destino serà: {{ticket.usuario.peso|mul:ticket.destino.gravedad|div:9.80|floatformat:2}} g
<br>
Codigo Qr: <img src= "{{ticket.codigo_qr.url}}" class="text-center" width="200" height="200" alt="...">
<br>

{% endblock ContenidoQueCambia %}