{% extends "padre.html" %}
{% load mathfilters %}
{% block ContenidoQueCambia %}

<section class="page-section" id="services">
    <form action="" method="POST"> {% csrf_token %}
        <input type="text" placeholder="Introduzca el numero de ticket" id = "numero_ticket" name = "numero_ticket"></input>
        <input type="submit" value = "Buscar">
    </form>
    <hr class="divider" />

    <h4>Tickets pasados:</h4>
    {% for ticket in tickets %}
    
        {% if ticket.fecha < fecha_hoy %}
      
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne{{ticket.id}}" aria-expanded="false" aria-controls="flush-collapseOne">
                        {{ticket.id}} - {{ticket.usuario}} - Fecha: {{ticket.fecha}}
                    </button>
                </h2>
                <div id="flush-collapseOne{{ticket.id}}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">  
                        Usuario: {{ticket.usuario}} <br>                      
                        Destino: {{ticket.destino}} <br>
                        Vehiculo: {{ticket.vehiculo}} <br>
                        Precio: ${{ticket.precio}} <br>

                        Fecha: {{ticket.fecha}} <br>
                        
                        {% if ticket.tiempo < 60 %}
                        Tiempo viaje: {{ticket.tiempo|floatformat:0}} S
                        {% elif ticket.tiempo > 60 and ticket.tiempo < 3600%}
                        Tiempo viaje: {{ticket.tiempo|intdiv:60|floatformat:0}} M, {{ticket.tiempo|mod:60|floatformat:0}} S
                        {% else %}
                        Tiempo viaje: {{ticket.tiempo|intdiv:3600|floatformat:0}} H, {{ticket.tiempo|mod:3600|intdiv:60|floatformat:0}}  M, {{ticket.tiempo|mod:3600|mod:60|floatformat:0}} S
                        {% endif %}
                        <br>
                        El peso del usuario serà: {{ticket.usuario.peso|mul:ticket.destino.gravedad|div:9.80|floatformat:2}} g
                        <br>
                        Codigo Qr: <img src= "{{ticket.codigo_qr.url}}" class="text-center" width="200" height="200" alt="...">
                        <br>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal{{ticket.id}}">
                            Eliminar
                            </button>
                            <div class="modal fade" id="exampleModal{{ticket.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Eliminar {{ticket.id}}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    ¿Esta seguro que desea eliminar el ticket {{ticket.id}} perteneciente al usuario {{ticket.usuario}}?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <form action="{% url 'Eliminar_admin_ticket' ticket.id %}" method="POST">
                                    {% csrf_token %}
                                    <button class="btn btn-primary">Delete</button>
                                    </form>
                                </div>
                                </div>
                            </div>
                            </div>
                    </div>
                </div>
                </div>
            </div>
      
        {% endif %}
      



    {% endfor %}

    <hr class="divider" />

    <h4>Viajes Futuros:</h4>

    {% for ticket in tickets %}
    
        {% if ticket.fecha > fecha_hoy %}
      
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne{{ticket.id}}" aria-expanded="false" aria-controls="flush-collapseOne">
                        {{ticket.id}} - {{ticket.usuario}} - Fecha: {{ticket.fecha}}
                    </button>
                </h2>
                <div id="flush-collapseOne{{ticket.id}}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">  
                        Usuario: {{ticket.usuario}} <br>                      
                        Destino: {{ticket.destino}} <br>
                        Vehiculo: {{ticket.vehiculo}} <br>
                        Precio: ${{ticket.precio}} <br>
                        Fecha: {{ticket.fecha}} <br>
                        {% if ticket.tiempo < 60 %}
                            Tiempo viaje: {{ticket.tiempo|floatformat:0}} S
                        {% elif ticket.tiempo > 60 and ticket.tiempo < 3600%}
                            Tiempo viaje: {{ticket.tiempo|intdiv:60|floatformat:0}} M, {{ticket.tiempo|mod:60|floatformat:0}} S
                        {% else %}
                            Tiempo viaje: {{ticket.tiempo|intdiv:3600|floatformat:0}} H, {{ticket.tiempo|mod:3600|intdiv:60|floatformat:0}}  M, {{ticket.tiempo|mod:3600|mod:60|floatformat:0}} S
                        {% endif %} 
                        <br>
                        El peso del usuario serà: {{ticket.usuario.peso|mul:ticket.destino.gravedad|div:9.80|floatformat:2}} g 
                        <br>
                        Codigo Qr: <img src= "{{ticket.codigo_qr.url}}" class="text-center" width="200" height="200" alt="...">
                        <br>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal{{ticket.id}}">
                            Eliminar
                            </button>
                            <div class="modal fade" id="exampleModal{{ticket.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Eliminar {{ticket.id}}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    ¿Esta seguro que desea eliminar el ticket {{ticket.id}} perteneciente al usuario {{ticket.usuario}}?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <form action="{% url 'Eliminar_admin_ticket' ticket.id %}" method="POST">
                                    {% csrf_token %}
                                    <button class="btn btn-primary">Delete</button>
                                    </form>
                                </div>
                                </div>
                            </div>
                            </div>
                        
                    <br>
                </div>
                </div>
            </div>
            
        {% endif %}

    {% endfor %}
    <a type = "btn" href = "{% url 'Inicio' %}" class="btn btn-secondary">Volver al inicio</a>
</section>
{% endblock ContenidoQueCambia %}