{% extends "padre_comunidad.html" %}

{% block ContenidoQueCambia %}


{% if request.user.is_authenticated %}
<a type="btn" class="btn btn-secondary" href="{% url 'Crear_posts' %}">Crear post</a> 
{% endif %}
    

{% for posteo in post %}

<section>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!-- Post preview-->
                <div class="post-preview">
                    <a href="{% url 'Mostrar_posts' posteo.pk %}">
                        <h2 class="post-title">{{posteo.nombre_post}}</h2>
                        <h3 class="post-subtitle">{{posteo.descripcion}}</h3>
                    </a>
                        <p class="post-meta">
                            Escrito por
                            <a href="{% url 'Perfil-astro' posteo.usuario.user.pk %}">{{posteo.usuario}}</a>
                        </p> 
                    <p>
                        <span><i class="fas fa-thumbs-up"></i>{{posteo.get_like_count}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endfor %}


{% endblock ContenidoQueCambia %}