{% extends "padre_comunidad.html" %}

{% block ContenidoQueCambia %}



<div class="container mt-5">
  <div class="row">
      <div class="col-lg-8">
          <!-- Post content-->
          <article>
              <!-- Post header-->
              <header class="mb-4">
                  <!-- Post title-->
                  <h1 class="fw-bolder mb-1">{{post.nombre_post}}</h1>
                  <!-- Post meta content-->
                  <div class="text-muted fst-italic mb-2">Creado por <a href="{% url 'Perfil-astro' post.usuario.user.pk %}">{{post.usuario}}</a></div>
              </header>
              <!-- Preview image figure-->
              <figure class="mb-4"><img class="img-fluid rounded" src="{{post.imagen.url}}" alt="..." /></figure>
              <!-- Post content-->
              <section class="mb-5">
                  <p class="fs-5 mb-4">{{post.texto}}</p>
              </section>
          </article>
          <a class="text-muted" href="{% url 'Likes' post.pk %}" >
            <i class="fas fa-thumbs-up fa-lg"></i>
            {{post.get_like_count}}
          </a>
          <!-- Comentarios-->
          <section class="mb-5">
            <div class="card bg-light">
                <div class="card-body">
                    <!-- Comment form-->
                    <form  method="POST" class="mb-4">
                      {% csrf_token %}
                      {{form_comentario.as_p}}
                      
                      <button type="submit" style=margin:10px; class="save btn btn-secondary">Ingresar Comentario</button>
      
                  </form> 
                    <!-- Comment with nested comments-->
                    
                    {% for comentarios in comentario  %} 
                    <div class="d-flex mb-4">
                        <!-- Parent comment-->
                        <div class="flex-shrink-0"><img class="rounded-circle" src="{{comentarios.author.avatar.url}}" width="25" height="25" alt="..." /></div>
                        <div class="ms-3">
                            <div class="fw-bold">{{comentarios.author}}</div>
                            {{comentarios.comentario}}
                        </div>
                        {% if comentarios.author == astroturista or request.user.is_superuser %}
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal{{comentarios.id}}">
                          Eliminar
                        </button>
                        <div class="modal fade" id="exampleModal{{comentarios.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                  ¿Esta seguro que desea eliminar este comentario?
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <form action="{% url 'Eliminar_comentario' comentarios.id %}" method="POST">
                                  {% csrf_token %}
                                  <button class="btn btn-primary">Delete</button>
                                </form>
                                
                              </div>
                            </div>
                          </div>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
              </div>
            </section>
            {% if post.usuario == astroturista or request.user.is_superuser %}
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Eliminar
              </button>
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ¿Esta seguro que desea eliminar este post?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <form action="{% url 'Eliminar_posteo' post.id %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-primary">Delete</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
        </div>
  </div>
</div>

          
              

        



{% endblock ContenidoQueCambia %}