{% extends "padre.html" %}
{% block ContenidoQueCambia %}
<div class="container mt-5">
    <div class="row">
        <section>
            <div class="">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-3">
                        <div class="p-5"><img class="img rounded-circle" src="https://www.iberdrola.com/documents/20125/509941/Turismo_Espacial_746x419.jpg/9ca5d6ba-ae91-6dcd-67a3-4e4b437c1553?t=1636363758201" width="280" height="270" alt="..." /></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-2">
                            <h2 class="display-4">Acerca de nosotros</h2>
                            <p>Somos un sitio especializado en la compra de tickets a destinos extraplanetarios. Integrante de la asociacion para vuelos interplanetarios seguros desde el 2043, contamos con una gran gama de destinos y vehiculos de ultima generacion</p>
                            <p>Creamos una comunidad donde cada astroturista podra manifestarse sobre sus experiencias en otros planteas. Ademas, podra visualizar noticias de la mano de los mayores expertos en viajes extraplanetarios</p>
                        </div>
                    </div>
                </div>
            </div>
        
    </section>
    <a type = "btn" href = "{% url 'Inicio' %}" class="btn btn-secondary">Volver al inicio</a>
    </div>
</div>
{% endblock ContenidoQueCambia %}