{% extends "padre.html" %}
{% block ContenidoQueCambia %}
<div class="container mt-5">
    <div class="row">
        <h3>¡Consulte!</h3>
        <form action="" method="POST"> {% csrf_token %}
            <div class="form-floating">
                <input type="text" class = "form-control" name="contacto_email" id="contacto_email" placeholder="Ingrese su email"></input>
                <label for="floatingInput">Ingrese su email</label>
            </div>
            <div class="form-floating">
                <p></p>
                <input type="text" class = "form-control" name="contacto_nombre" id="contacto_nombre" placeholder="Ingrese su nombre"></input>
                <label for="floatingInput">Ingrese su nombre</label>
            </div>
            <div class="form-floating">
                <p></p>
                <input type="text" class = "form-control" name="contacto_apellido" id="contacto_apellido" placeholder="Ingrese su apellido"></input>
                <label for="floatingInput">Ingrese su apellido</label>
            </div>
            <div class="form-floating">
                <p></p>
                <input type="textarea" class = "form-control" name="contacto_texto" id="contacto_texto" placeholder="Ingrese su consulta" style="height: 100px"></input>
                <label for="floatingInput">Ingrese su consulta</label>
            </div>
            <p></p>
            <button type = "submit" class="btn btn-secondary">Enviar comentario</button>
        </form>
    </div>
</div>


{% endblock ContenidoQueCambia %}