{% extends "padre.html" %}
{% block ContenidoQueCambia %}
<div class="container mt-5">
    <div class="row">
        <h3>Iniciar sesion</h3>
        <form action="" method = "POST">

            {% csrf_token %}

            {{form.as_p}}

            <button type = "submit" class="btn btn-secondary">Iniciar Sesion</button>
            <p></p>
            <a type = "btn" href = "{% url 'Register' %}" class="btn btn-secondary">Registrese</a>
            <p></p>
            <a type = "btn" href = "{% url 'Inicio' %}" class="btn btn-secondary">Volver al inicio</a>

        </form>
    </div>
    <hr class="divider" />
</div>

{% endblock ContenidoQueCambia %}