{% extends "padre.html" %}
{% block ContenidoQueCambia %}
<div class="container mt-5">
    <div class="row">
        <form action="" method = "POST" enctype="multipart/form-data">

            Codigo de verificacion: <input type="text" class = "form-control" name="cod_ver" id="cod_ver" placeholder="Ingrese el numero de verificacion proporcionado por administracion"></input>
            <br>
            {% csrf_token %}
            {{astroturista_form.as_p}}
            {{form.as_p}}
            

            <button type = "submit">Iniciar Sesion</button>

        </form>
    </div>
</div>

{% endblock ContenidoQueCambia %}