{% extends "padre.html" %}
{% block ContenidoQueCambia %}
<div class="container mt-5">
    <div class="row">
        <form action="" method = "POST" enctype="multipart/form-data">

            {% csrf_token %}
            {{astroturista_form.as_p}}
            {{form.as_p}}
            

            <button type = "submit">Iniciar Sesion</button>

        </form>
        <p>Si buscas registrarte como administrador, <a href="{% url 'Register_super' %}">click aca</a></p>
    </div>
</div>
{% endblock ContenidoQueCambia %}

